.env
.now
.vscode
rep

# stuff from demo
db1
db2
ops.json

# build artifacts
examples/hello-replicant-android-java/.idea
examples/hello-replicant-android-java/repm/build/
repm/repm-sources.jar
repm/repm.aar
vendor
