.env
.now
.vscode
rep

# build artifacts
build
samples/hello-replicant-android-java/.idea
samples/hello-replicant-android-java/repm/build/
repm/repm-sources.jar
repm/repm.aar
repm/Repm.framework
vendor
